html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    position: relative;
    font-family: "Proxima Nova;", "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.2;

    color: #000;
    background: radial-gradient(at top, #a557c8, #5e2890);
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
    outline: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.button {
    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 2%;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.footer {
    z-index: 9;
    position: relative;
}

.footer--wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.footer-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer--address {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}

.phone__number {
    font-family: " Proxima Nova";
    font-weight: normal;
    font-size: 22px;
    line-height: 22px;
}

.footer__time {
    font-size: 14px;
}

.footer__subtitle {
    padding: 0;
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .footer--wrap {
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-text {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .footer--address {
        margin-top: 0;
        flex-direction: column;
        align-items: flex-end;
    }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
