.header {
  position: relative;
  z-index: 10;
}

.main {
  position: relative;
  z-index: 9;
}

.container {
  position: relative;
}

.content-intro {
  padding: 110px 0;
}

.justify-content-between {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.container-flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-bg {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("../img/ng/44.png");
  background-repeat: no-repeat;
  background-position: top;
}

.image-wrap {
  z-index: 9;
  position: relative;
  text-align: center;
  padding-bottom: 7%;
  margin-bottom: 5%;
}

.image-wrap::after {
  position: absolute;
  content: "";

  width: 270px;
  height: 1px;

  bottom: 0;
  left: 50%;
  transform: translate(-50%);

  background: #ffe7a1;
}

.title {
  position: relative;
  text-align: center;

  font-family: "Bodoni Moda", serif;
  font-weight: bold;
  font-size: 45px;
  line-height: 47px;

  margin: 0;
  margin-bottom: 40px;
  color: #fde18e;
  padding-bottom: 7%;

  background: -webkit-linear-gradient(80deg, #ffe7a1, #f0a962);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-span {
  text-transform: uppercase;
}

.title::after {
  position: absolute;
  content: "";

  bottom: 0;

  width: 270px;
  height: 1px;
  background: #fde18e;
  left: 50%;
  transform: translate(-50%);
}

.title__subtitle {
  font-family: "Proxima Nova";
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;

  color: #ffffff;
}

@media (min-width: 768px) {
  .title {
    width: 60%;
  }

  .title__subtitle {
    width: 75%;
  }
}

@media (min-width: 992px) {
  .image-wrap {
    padding-bottom: 3%;
  }

  .title {
    width: 50%;
    padding-bottom: 3%;
  }

  .title__subtitle {
    width: 55%;
  }
}

.df {
  display: none;
}

.snow {
  z-index: 8;
  position: absolute;
  width: 100%;
  height: 100%;
}

.snow--1 {
  background: url("../img/snow/snow1.png") no-repeat;

  background-position: 0 0;
}

.snow--2 {
  background: url("../img/snow/snow2.png") no-repeat;

  background-position: left 0 bottom 5%;
}

.snow--3 {
  background: url("../img/snow/snow3.png") no-repeat;

  background-position: right 0 top 0;
}

.ball__p {
  z-index: 9;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-animation: 1.4s cubic-bezier(0.645, 0.045, 0.355, 1) glide;
  animation: 1.4s cubic-bezier(0.645, 0.045, 0.355, 1) glide;
}

.ball--1 {
  background: url("../img/snow/ball1.png") no-repeat;
  background-position: left 10% top -8%;

  -webkit-animation-duration: 1.4s;
  animation-duration: 1.4s;
}

.ball--2 {
  background: url("../img/snow/ball2.png") no-repeat;
  background-position: left 0% top -8%;

  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.ball--3 {
  background: url("../img/snow/ball3.png") no-repeat;
  background-position: right 15% top -10%;

  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
}

@keyframes glide {
  0% {
    opacity: 0;
    transform: translate(0px, -100px);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .df {
    display: block;
  }
}

@media (min-width: 992px) {
  .ball--1 {
    background-position: left 21% top 2%;
  }

  .ball--2 {
    background-position: left 10% top 0;
  }

  .ball--3 {
    background-position: right 10% top 0;
  }
}
