.content-book {
    z-index: 9;
    position: relative;
    padding: 78px 30px;

    background-color: #fff;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;

    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.container-flex-beetwen {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.container-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-h2 {
    font-family: "Proxima Nova";
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    margin: 0;
    margin-bottom: 5%;
    text-align: center;

    color: #333232;
}

.h2-subtitle {
    font-family: "Proxima Nova";

    font-weight: normal;
    font-size: 18px;
    line-height: 22px;

    color: #333232;
    text-align: center;

    margin: 0;
    padding: 0;
    margin-bottom: 2%;
}

.box-img {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    min-height: 350px;
    margin-bottom: 10%;
}

.img-book {
    position: absolute;

    top: -145px;
}

.btn--yellow {
    width: 320px;
    height: 50px;
    background: #f8d776;
}

.btn--yellow:hover {
    background: #ffd452;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
    .content-book {
        padding: 78px 70px;
        margin: 0 30px;
    }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
    .container-flex-beetwen {
        flex-direction: row;
        justify-content: space-between;
    }

    .h2-subtitle {
        text-align: start;
    }

    .box-img {
        width: 40%;

        justify-content: flex-end;
        align-items: flex-end;
        min-height: 360px;
        margin-bottom: 0;
    }

    .img-book {
        right: 0;
    }

    .btn--yellow {
        width: 270px;
        margin-right: 15%;
    }
}
